<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DVAN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

   <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                    <div class="header-top d-none d-lg-block">
						<div class="container">
							<div class="col-xl-12">
									<div class="row d-flex justify-content-between align-items-center">
										<div class="header-info-left">
											<!-- Verificar -->
										</div>                                    
									</div>
							</div>
						</div>
                    </div>
                <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">                                                                                          
                                                <li><a href="/MenuAssociado">Voltar</a>
                                                </li>                                                    
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="col-12">
				<h2 class="contact-title">Cadastro de Rotas</h2>
				</div>
				
					<div class="col-lg-8">
                        <form class="form-contact contact_form" method="post" content-type="text/json" action="/pedidoEntrega">
						
						<h3 class="contact-title">Dados da Origem</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="nome" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome da Rota'" placeholder="Nome da Rota">
                                    </div>
                                </div>
								<div class="col-sm-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="cepOrigem" type="text" id="cep" size=8 maxlength=8 onfocus="this.placeholder = ''" onblur="this.placeholder = 'CEP'" placeholder="CEP"> 
                                    </div>
                                </div>
								<div class="col-sm-2">
									<div class="form-group" >
										<input class="form-control valid" name="uf" id="uf" type="text" size=2 maxlength=2 onfocus="this.placeholder = ''" onblur="this.placeholder = 'UF'" placeholder="UF">
									</div>
                                </div>
								<div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control valid" name="cidade" type="text" id="cidade" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cidade'" placeholder="Cidade" th:value="${session.rota.cidadeOrigem}">
                                    </div>
                                </div>
								<div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control valid" name="bairro" type="text" id="bairro" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bairro'" placeholder="Bairro">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control valid" name="logradouro" id="rua" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Endereço'" placeholder="Endereço">
                                    </div>
                                </div>
								
								<div class="col-sm-6">
									<h3 class="contact-title">Dados do Destino</h3>
								</div>
								<div class="col-sm-6">
									
								</div>
								<div class="col-sm-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="cepDestino" type="text" id="cepdestino" size=8 maxlength=8 onfocus="this.placeholder = ''" onblur="this.placeholder = 'CEP'" placeholder="CEP"> 
                                    </div>
                                </div>
								<div class="col-sm-2">
									<div class="form-group" >
										<input class="form-control valid" name="ufDestino" id="ufdestino" type="text" size=2 maxlength=2 onfocus="this.placeholder = ''" onblur="this.placeholder = 'UF'" placeholder="UF">
									</div>
                                </div>
								<div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control valid" name="cidadeDestino" type="text" id="cidadedestino" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cidade'" placeholder="Cidade" th:value="${session.rota.cidadeDestino}">
                                    </div>
                                </div>
								<div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control valid" name="bairroDestino" type="text" id="bairrodestino" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bairro'" placeholder="Bairro">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control valid" name="logradouroDestino" id="ruadestino" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Endereço'" placeholder="Endereço">
                                    </div>
                                </div>
                                <input type="hidden" name="idAssociado" th:value="${session.rota.idUsuario}">
                                <input type="hidden" name="valor" th:value="${session.rota.valor}">
                                <input type="hidden" name="idRota" th:value="${session.rota.id}">
								<div class="col-sm-2">
									<div class="form-group" >
										<button type="submit" class="button button-contactForm boxed-btn">Cadastrar</button>
									</div>
                                </div>
                            </div>                            
                        </form>
			</div>
        </div>
    </main>
    <footer>
		<div class="footer-area footer-bg">
           <div class="container">
                <div class="footer-top footer-padding">
                    <!-- footer Heading -->
                    <div class="footer-heading">
                        <div class="row justify-content-between">
							<!-- Espaço Vazio -->
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    
		<!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
		
		<!-- Nice-select, sticky -->
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
		
		<!-- Busca CEP -->	
        <script src="./assets/js/buscarcep.js"></script>
 		
	</body>
    
</html>